body {
    text-align: center;
    vertical-align: top;
    margin-bottom: 27%;
    margin-left: 27%;
    margin-right: 27%;
    margin-top: 0px;
    padding: inherit;
    line-height: 400%;
    background-image: url(https://goo.gl/o90djL);
    background-size: cover;
    color: white;
    text-shadow: #EEEE00 0 0 10px;
    font-size: 25px;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: gray;
}
